<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

        <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                   <div class="row">   
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404error.png" alt="shashank" height="300" width="300">
                        </figure>
                                         
                    <p>welcome to weather app</p>
                    <h1>{{errormsg}}</h1>
                    
                <a href="/" target="shashank"><button>GO BACK</button></a>
                </div>
               
</div>
                    </div>
                    </div>
                    </div>



<!-- footer code -->
{{>footer}}




</body>
</html>