<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

        <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                   <div class="row">   
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="shashank">
                        </figure>
                    </div>                      
                 <div class="col-md-6 col-12 main_header_left">
                    <p>welcome to weather app</p>
                    <h1>I am a <span class="text_clr">mern stack developer</span> a freelancer</h1>
                <a href="https://www.google.com" target="shashank"><button>about me</button></a>
                </div>
               
</div>
                    </div>
                    </div>
                    </div>



<!-- footer code -->
{{>footer}}




</body>
</html>